<!DOCTYPE html>
<html>
    
<head>
    <title>GeoJSONLint - Validate your GeoJSON</title>
    <meta name="keywords" content="GeoJSON Validation,GeoJSON Validator,GeoJSONLint,GeoJSON Lint,Validate GeoJSON">
    <meta name="description" content="Validate your GeoJSON and display it on a map.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script>
        var _rollbarParams = {"server.environment": "production"};
        _rollbarParams["notifier.snippet_version"] = "2"; var _rollbar=["3acd54483c794378a9952e364b5fb3ef", _rollbarParams]; var _ratchet=_rollbar;
        (function(w,d){w.onerror=function(e,u,l){_rollbar.push({_t:'uncaught',e:e,u:u,l:l});};var i=function(){var s=d.createElement("script");var 
        f=d.getElementsByTagName("script")[0];s.src="//d37gvrvc0wt4s1.cloudfront.net/js/1/rollbar.min.js";s.async=!0;
        f.parentNode.insertBefore(s,f);};if(w.addEventListener){w.addEventListener("load",i,!1);}else{w.attachEvent("onload",i);}})(window,document);
    </script>
</head>
    
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid"><a class="brand">GeoJSONLint</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="dropdown active"><a data-toggle="dropdown" class="dropdown-toggle">Point <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="active">
                                    <a href="#sample-geojson-content" data-toggle="tab" data-geojson-type="Point">Point</a>
                                </li>
                                <li>
                                    <a href="#sample-MultiPoint" data-toggle="tab" data-geojson-type="MultiPoint">MultiPoint</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">LineString <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#sample-LineString" data-toggle="tab" data-geojson-type="LineString">LineString</a>
                                </li>
                                <li>
                                    <a href="#sample-MultiLineString" data-toggle="tab" data-geojson-type="MultiLineString">MultiLineString</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">Polygon <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#sample-Polygon" data-toggle="tab" data-geojson-type="Polygon">Polygon</a>
                                </li>
                                <li>
                                    <a href="#sample-MultiPolygon" data-toggle="tab" data-geojson-type="MultiPolygon">MultiPolygon</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#sample-geojson-content" data-toggle="tab" data-geojson-type="Feature">Feature</a>
                        </li>
                        <li>
                            <a href="#sample-geojson-content" data-toggle="tab" data-geojson-type="FeatureCollection">FeatureCollection</a>
                        </li>
                        <li>
                            <a href="#sample-GeometryCollection" data-toggle="tab" data-geojson-type="GeometryCollection">GeometryCollection</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <p>Use this site to validate and view your GeoJSON. For details about GeoJSON, <a href="http://geojson.org/geojson-spec.html">read the spec</a>.</p>
    </div>
    <div class="container-fluid">
        <div id="input-output" class="row-fluid">
            <div class="span4 left full-height">
                <div class="row-fluid">
                    <textarea id="geojson-input" placeholder="Paste GeoJSON here"></textarea>
                </div>
                <div class="row-fluid text-centered">
                    <input id="clear-current" type="checkbox" checked="checked">
                    <label for="clear-current">Clear Current Features</label>
                </div>
                <div class="row-fluid text-centered"><a id="submit" class="btn btn-primary btn-large btn-action">Test GeoJSON</a>
                    <a id="clear" class="btn btn-large btn-action">Clear</a>
                </div>
            </div>
            <div class="span8 right full-height">
                <div id="map-container" class="full-height"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 30px;">
        <h2>Programmatic Access</h2>
        <p>
            If you need progrmmatic access to validate your GeoJSON you can simply use the same <code>/validate</code> endpoint that this site uses. It's <a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing">CORS enabled</a> so you can use it from the browser as well as any back end.
        </p>
        <h3 id="posting">POSTing</h3>
        <h4>JavaScript Example <small>via jQuery</small></h4>
        <p><code>POST</code> to the <code>/validate</code> endpoint when you have a JSON blob in memory. If you've got JSON at an accessible URL, see <a href="#geting">GETing</a>.</p>
        <pre><code>var good_geojson = '{"type": "Point", "coordinates": [-100, 80]}';
var bad_geojson = '{"type": "Rhombus", "coordinates": [[1, 2], [3, 4], [5, 6]]}';

function processSuccess(data) {
    if (data.status === 'ok') {
        alert('You just posted some valid GeoJSON!');
    } else if (data.status === 'error') {
        alert('There was a problem with your GeoJSON: ' + data.message);
    }
}

function processError() {
    alert('There was a problem with your ajax.');
}

$.ajax({
    url: 'http://geojsonlint.com/validate',
    type: 'POST',
    data: good_geojson,
    dataType: 'json',
    success: processSuccess,
    error: processError
});

$.ajax({
    url: 'http://geojsonlint.com/validate',
    type: 'POST',
    data: bad_geojson,
    dataType: 'json',
    success: processSuccess,
    error: processError
});</code></pre>

        <h4>Python Example <small>via Requests</small></h4>
        <pre><code>import requests

validate_endpoint = 'http://geojsonlint.com/validate'
good_geojson = '{"type": "Point", "coordinates": [-100, 80]}'
bad_geojson = '{"type": "Rhombus", "coordinates": [[1, 2], [3, 4], [5, 6]]}'

good_request = requests.post(validate_endpoint, data=good_geojson)
bad_request = requests.post(validate_endpoint, data=bad_geojson)

print good_request.json()
# {u'status': u'ok'}
print bad_request.json()
# {u'status': u'error', u'message': u'"Rhombus" is not a valid GeoJSON type.'}</code></pre>

        <h3 id="geting">GETing</h3>
        <p>If you have GeoJSON at a publicly accesible URL, you can utilize the <code>/validate</code> endpoint with a <code>url</code> URL parameter to validate it. The URL must be URL encoded. If you've got JSON in memory <a href="#posting">POSTing</a> might be a better fit.</p>
        <pre><code>import requests

validate_endpoint = 'http://geojsonlint.com/validate'
url = 'http://gitspatial.com/api/v1/JasonSanford/mecklenburg-gis-opendata/parks?lat=35.255&lon=-80.855&distance=1750'

params = {'url': url}

response = requests.get(validate_endpoint, params=params)

print response.json()
# {u'status': u'ok'}</code></pre>
    </div>
    <div class="container-fluid" style="margin-top: 30px;">
        <h3>Questions?</h3>
        <p>
            Read the <a href="http://geojason.info/2012/geojson-validation-via-geojsonlint.com/">blog post</a> or check out the <a href="https://github.com/JasonSanford/geojsonlint.com">source code</a>.
        </p>
    </div>
    <div id="modal-message" class="modal">
        <div class="modal-header">
            <h3 id="modal-message-header">Invalid JSON</h3>
        </div>
        <div class="modal-body">
            <p id="modal-message-body"></p>
        </div>
        <div class="modal-footer">
            <a id="modal-message-close" href="#" class="btn modal-close">Close</a>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/sample-geojson.js"></script>
    <script src="/static/js/app.js"></script>
</body>
<!-- Hello World -->
</html>