<!DOCTYPE html>
<html>

<head>
    <title>GeoJSONLint - Validate your GeoJSON</title>
    <meta name="keywords" content="GeoJSON Validation,GeoJSON Validator,GeoJSONLint,GeoJSON Lint,Validate GeoJSON">
    <meta name="description" content="Validate your GeoJSON and display it on a map.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
    <link href='//api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-7385360-18', 'auto');
      ga('send', 'pageview');
    </script>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">GeoJSONLint</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown active"><a data-toggle="dropdown" class="dropdown-toggle">Point <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="active">
                                <a href="#sample-geojson-content" data-toggle="tab" data-geojson-type="Point">Point</a>
                            </li>
                            <li>
                                <a href="#sample-MultiPoint" data-toggle="tab" data-geojson-type="MultiPoint">MultiPoint</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">LineString <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#sample-LineString" data-toggle="tab" data-geojson-type="LineString">LineString</a>
                            </li>
                            <li>
                                <a href="#sample-MultiLineString" data-toggle="tab" data-geojson-type="MultiLineString">MultiLineString</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">Polygon <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#sample-Polygon" data-toggle="tab" data-geojson-type="Polygon">Polygon</a>
                            </li>
                            <li>
                                <a href="#sample-MultiPolygon" data-toggle="tab" data-geojson-type="MultiPolygon">MultiPolygon</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#sample-geojson-content" data-toggle="tab" data-geojson-type="Feature">Feature</a>
                    </li>
                    <li>
                        <a href="#sample-geojson-content" data-toggle="tab" data-geojson-type="FeatureCollection">FeatureCollection</a>
                    </li>
                    <li>
                        <a href="#sample-GeometryCollection" data-toggle="tab" data-geojson-type="GeometryCollection">GeometryCollection</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <p>Use this site to validate and view your GeoJSON. For details about GeoJSON, <a href="https://tools.ietf.org/html/rfc7946">read the spec</a>.</p>
    </div>
    <div class="container">
        <div id="input-output" class="row">
            <div class="col-sm-4 left full-height">
                <div class="row-fluid">
                    <textarea id="geojson-input" placeholder="Paste GeoJSON here" class="form-control" style="margin-bottom: 10px;"></textarea>
                </div>
                <div class="row-fluid text-centered" style="margin-bottom: 10px;">
                    <input id="clear-current" type="checkbox" checked="checked">
                    <label for="clear-current" style="font-weight: normal;">Clear Current Features</label>
                </div>
                <div class="row-fluid text-centered"><a id="submit" class="btn btn-primary btn-large btn-action">Test GeoJSON</a>
                    <a id="clear" class="btn btn-large btn-action btn-default">Clear</a>
                </div>
            </div>
            <div class="col-sm-8 right full-height">
                <div id="map-container" class="full-height"></div>
            </div>
        </div>
    </div>
    <div id="modal-message" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="modal-message-header">Invalid JSON</h3>
                </div>
                <div class="modal-body">
                    <p id="modal-message-body"></p>
                </div>
                <div class="modal-footer">
                    <a id="modal-message-close" href="#" class="btn btn-default modal-close">Close</a>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src='//api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script src="/static/js/geojsonhint.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/sample-geojson.js"></script>
    <script src="/static/js/app.js"></script>
</body>
<!-- Hello World -->
</html>
