body {
  padding-top: 60px;
  padding-bottom: 40px; }

#input-output {
  height: 400px; }
  #input-output div.left textarea {
    width: 100%;
    height: 325px; }
  #input-output div.left a.btn-action {
    width: 125px;
    margin-right: 10px; }
  #input-output div.left label {
    display: inline;
    margin-left: 5px; }

#modal-sample-geojson {
  width: 600px; }
  #modal-sample-geojson pre {
    max-height: 250px; }

.full-height {
  height: 100%; }

.text-centered {
  text-align: center; }

.last {
  margin-right: 0;
  margin-bottom: 0; }

.modal {
  display: none; }
